# Node
#node_modules/
#dist/

# Dotnet
#bin/
#obj/

# Docker
*.log

# Others
#.env


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/my-angular-app/node_modules
/my-angular-app/npm-debug.log
/my-angular-app/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/my-angular-app/.angular/cache
/my-angular-app/.sass-cache/
/my-angular-app/connect.lock
/my-angular-app/coverage
/my-angular-app/libpeerconnection.log
/my-angular-apptestem.log
/my-angular-app/typings

# System files
.DS_Store
Thumbs.db


# Others
.env